<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>About</h3>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Hello, I am Satheesh Davidson, senior software engineer from India currently based on Dubai.
                    Having a B.S and M.S in Computer science & 7+ years of comprehensive experience in IT industry. 
                    I am also a <b>Certified Kubernetees Administrator</b>.
                </p>
                <p>
                    I specialize in back-end, more focused on designing distributed systems with scalability in mind.
                </p>
                <p>
                    I have majorly worked with Microsoft technologies in the past such as C#, .NET framework, ASP.NET, ASP.NET Core, Entity
                    Framework, MS SQL Server etc. and golang
                    Had touched on Java, C, C++, various JavaScript frameworks in college days.
                    Currently learning k8s, Go and other interesting technologies.
                </p>
                <p>
                    In my free time, I read technical blogs/articles and books, watching movies or playing FIFA.
                </p>
            </div>
        </div>
    </div>
</section>