<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Hello, I am a Satheesh Davidson a senior software engineer from India currently based on Dubai,
                    having 6+ years of comprehensive experienced and
                    delivering quick & easy solution to lift the business up.
                </p>
                <p>
                    I specialize in Asp.Net and back-end , api integration, api creating, Azure, Asp.Net, c#, Web job,
                    asp.net core/MVC, e-commerce etc.
                </p>
                <p>
                    I have Expertise in C#, .NET framework, ASP.NET, ASP.NET MVC, ASP.NET Core, ADO.NET, Entity
                    Framework, Dapper, PostgreSql, MS SQL Server etc.
                </p>
                <p>
                    In my free time, I read technical blogs/articles and books
                    and also research in machine learning.
                </p>
            </div>
        </div>
    </div>
</section>