<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
    {% include nav.html %}
    <!-- Header -->
    <header class="header-posts">
        <div class="container">
            <div class="row">
                <h3 class="text-center">Blogs</h3>
                <div class="col-lg-12">
                    {% for post in site.posts %}
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4>{{ post.title }}</h4>
                            </div>
                            <div class="card-text">
                                {{post.excerpt }}
                            </div>
                            <div>
                                <a href="{{ post.url }}">Read Blog</a>
                                <p>{{ post.date | date: "%b %-d, %Y" }}, {% include read_time.html %} </p>
                                <p><i class="fa fa-tag"></i>{{ post.tags | array_to_sentence_string}}</p>
                                
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% include footer.html %}
    {% include js.html %}
    {% include google-analytics.html %}
    </header>
    

</body>

</html>